*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

 .wrapper {
    width: auto;
    height: 100%;

 }
body {
  transition: background-color 0.4s;
  background-color: #212529;
  background-image: url('../people/bckgr_dark.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  /*font-family: 'Comfortaa', sans-serif;*/
font-family: 'Wix Madefor Display', sans-serif;
  /*font-family: 'Russo One', sans-serif;*/
 /*font-family: 'Comfortaa', sans-serif;*/
 text-align: center;
}
  .content {
          display: flex;
     flex-wrap: wrap;
     /*padding: 5px;*/
     border-radius: 30px;
     /*box-shadow: 0 15px 30px rgb(0 0 0 / 80%);*/
     overflow: hidden;
     justify-content: center;
         padding: 5px;
         }

.column {
  max-width: 100%;
  flex: 0 0 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
}

button {
  transition: all 0.2s ease;
  border: 3px;
  background: linear-gradient(165deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 198, 0.8) 50%, rgba(98, 11, 160, 0.8) 95%, rgba(98, 11, 216, 0.8) 100%);
  font-weight: bold;
  margin: 2rem auto;
  display: block;
  border-radius: 25px;
  position: relative;
  outline: none;
  padding: 5px;
  cursor: pointer;
  width: 700px;
  height: 400px
  animation-name: button;
  animation-duration: 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}


.btn-text {
  text-align: center;
  color: rgba(246, 246, 255, 1);
  font-size: 23px;
  line-height: 2rem;
  opacity: 5;
  word-break: break-all;
  animation-name: button-text;
  animation-duration: 0.75s;
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
}

button:before,
button:after,
button span:before,
button span:after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
}

button:before {
   box-shadow: -5px -5px 5px rgba(146, 34, 241, 0.8);
  animation-name: button-before;
  animation-duration: 60s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

button:hover:before {
 /*box-shadow: -8px -8px 10px 10px rgba(189, 33, 253, 0.81);
  border:5px;
  border-color: rgba(125, 1, 176, 0.58);*/
  background: rgba(193, 49, 241, 0.93);
}

/*button:after {
  box-shadow: 7px 8px 7px #32344a;
  animation-name: button-after;
*//*  animation-duration: 5s;
  animation-delay: 30s;*//*
  animation-fill-mode: forwards;
}*/

.btn-inner {
  display: block;;
  width: 100%;
  height: 100%;
  position: relative;
/*  background: #6b57bd;*/
  background: linear-gradient(165deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 198, 0.8) 50%, rgba(98, 11, 160, 0.8) 95%, rgba(98, 11, 216, 0.8) 100%);
/*   background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(210,213,216,1) 50%, rgba(210,213,216,1) 95%, rgba(148,150,176,1) 100%);*/
  padding: 1rem 4rem;
  display: block;
  border-radius: 25px;
  position: relative;
  animation-name: button-inner;
  animation-duration: 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

button.active .btn-text {
color: #341973;
}


button.active .btn-inner:before {
   box-shadow: 4px 4px 7px inset #311169;
  -webkit-box-shadow: 4px 4px 7px inset #311169;
}


button.active .btn-inner:after {
  box-shadow: -4px -4px 7px inset #311169;
 */
/* -webkit-box-shadow: -4px -4px 7px inset #935df0;*//*

}
@keyframes button-before {
  from {box-shadow: 0 0 0 rgba(146, 34, 241, 0.8);}
 to {box-shadow: -10px -8px 7px rgba(146, 34, 241, 0.8);}*//*

}
*/
@keyframes button-after {
  from {box-shadow: 0 0 0 #935df00;}
  to {box-shadow: 10px 8px 5px #551db5;}
}


/**ЦВЕТ КНОПКИ*//*

@keyframes button-inner {
  from {background: #d2d5d8;}
  to {background: linear-gradient(165deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 198, 0.8) 50%, rgba(98, 11, 160, 0.8) 95%, rgba(98, 11, 216, 0.8) 100%);}
}

*/
/*@keyframes button {
  from {background: #d2d5d8;}
  to {background: linear-gradient(165deg, rgba(255,255,255,1) 10%, rgba(148,150,176,1) 100%);}
}*//*


@keyframes button-text {
  from {opacity: 0;}
  to {opacity: 1;}
}*/
.link {
color: #1B058B;
}